.App {
  text-align: center;
  margin: auto;
  width: 85%;
}

.App-link {
  color: #61dafb;
}

.previewContainer {
  border-width: 3px;
  max-width: 95%;
  margin: auto;
}
.previewCard {
  min-height: 40vh;
}
.imgContainer img {
  max-height: 40vh;
  width: 100%;
}
